In [1]:
import pandas as pd

In [11]:
s = pd.Series([10,20,30,40])

In [13]:
s

0    10
1    20
2    30
3    40
dtype: int64

In [15]:
s1 = pd.Series([10,20,30,40],index = ['A','B','C','D'])

In [17]:
s1

A    10
B    20
C    30
D    40
dtype: int64

In [19]:
data = {
    "name" : ["Alice","Bob","Charlie"],
    "age": [25,30,35],
    "city" : ["Delhi", "Mumbai" , "Banglore"]
}

In [21]:
df = pd.DataFrame(data)

In [23]:
df

      name  age      city
0    Alice   25     Delhi
1      Bob   30    Mumbai
2  Charlie   35  Banglore

In [25]:
df.index = ["a","b","c"]

In [27]:
df

      name  age      city
a    Alice   25     Delhi
b      Bob   30    Mumbai
c  Charlie   35  Banglore