In [58]:
import pandas as pd

In [60]:
df = pd.read_csv("data1.csv")

In [62]:
df

,Actor,film,year,Genre,BoxOffice(INR Cror,IMD
0,Shah Rukh Khan,Pathan,2016,Action,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2022,Action,565,6.0
2,Ranbir Kapoor,Dangal,2018,Biography,2024,8.4
3,Ranveer Singh,Brahmastra,2018,Fantasy,431,5.6
4,Ayushman Khurrana,Padmaavat,2018,Historical,585,7.0
5,Ranjkuman Rao,Andhadhun,2019,Thriller,111,8.3
6,Hrithik Roshan,Stree,2019,Horror Comedy,475,7.5
7,Akshay Kumar,War,2022,Action,318,6.5
8,Kartik Aaryan,Good Newwz,2017,Comedy,266,7.0
9,Varun Dhawan,Bhool Bhulaiyaa,2018,Horror Comedy,201,5.9
10,Vicky Kaushal,URI,2019,Action,342,8.2

In [64]:
df['Actor'][2]

'Ranbir Kapoor'

In [66]:
type(df['Actor'])

pandas.core.series.Series

In [68]:
df[['Actor','film']]

                Actor             film
0      Shah Rukh Khan           Pathan
1         Salman Khan  Tiger Zinda Hai
2       Ranbir Kapoor           Dangal
3       Ranveer Singh       Brahmastra
4   Ayushman Khurrana        Padmaavat
5       Ranjkuman Rao        Andhadhun
6      Hrithik Roshan           Stree
7        Akshay Kumar             War
8       Kartik Aaryan       Good Newwz
9        Varun Dhawan  Bhool Bhulaiyaa
10      Vicky Kaushal              URI

In [70]:
df

,Actor,film,year,Genre,BoxOffice(INR Cror,IMD
0,Shah Rukh Khan,Pathan,2016,Action,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2022,Action,565,6.0
2,Ranbir Kapoor,Dangal,2018,Biography,2024,8.4
3,Ranveer Singh,Brahmastra,2018,Fantasy,431,5.6
4,Ayushman Khurrana,Padmaavat,2018,Historical,585,7.0
5,Ranjkuman Rao,Andhadhun,2019,Thriller,111,8.3
6,Hrithik Roshan,Stree,2019,Horror Comedy,475,7.5
7,Akshay Kumar,War,2022,Action,318,6.5
8,Kartik Aaryan,Good Newwz,2017,Comedy,266,7.0
9,Varun Dhawan,Bhool Bhulaiyaa,2018,Horror Comedy,201,5.9
10,Vicky Kaushal,URI,2019,Action,342,8.2

In [72]:
df.loc[1]

Actor                     Salman Khan
film                  Tiger Zinda Hai
year                             2022
Genre                          Action
BoxOffice(INR Cror                565
IMD                               6.0
Name: 1, dtype: object

In [74]:
df.iloc[1]

Actor                     Salman Khan
film                  Tiger Zinda Hai
year                             2022
Genre                          Action
BoxOffice(INR Cror                565
IMD                               6.0
Name: 1, dtype: object

In [76]:
df.loc[8,'film']

'Good Newwz'

In [78]:
df.loc[6,'film']

'Stree '

In [80]:
df.iloc[8,3]

'Comedy'

In [82]:
df.loc[0:2,["Actor","film"]]

            Actor             film
0  Shah Rukh Khan           Pathan
1     Salman Khan  Tiger Zinda Hai
2   Ranbir Kapoor           Dangal

In [84]:
df.iloc[0:2,0:2]

            Actor             film
0  Shah Rukh Khan           Pathan
1     Salman Khan  Tiger Zinda Hai

In [86]:
df.at[1,"Actor"]

'Salman Khan'

In [88]:
df.iat[1,1]

'Tiger Zinda Hai'

In [93]:
df[df["IMD"]>6]['Actor']

0        Shah Rukh Khan
2         Ranbir Kapoor
4     Ayushman Khurrana
5         Ranjkuman Rao
6        Hrithik Roshan
7          Akshay Kumar
8         Kartik Aaryan
10        Vicky Kaushal
Name: Actor, dtype: object

In [95]:
df[df["IMD"]>6]

,Actor,film,year,Genre,BoxOffice(INR Cror,IMD
0,Shah Rukh Khan,Pathan,2016,Action,1050,7.2
2,Ranbir Kapoor,Dangal,2018,Biography,2024,8.4
4,Ayushman Khurrana,Padmaavat,2018,Historical,585,7.0
5,Ranjkuman Rao,Andhadhun,2019,Thriller,111,8.3
6,Hrithik Roshan,Stree,2019,Horror Comedy,475,7.5
7,Akshay Kumar,War,2022,Action,318,6.5
8,Kartik Aaryan,Good Newwz,2017,Comedy,266,7.0
10,Vicky Kaushal,URI,2019,Action,342,8.2

In [97]:
df[(df["IMD"]>6) & (df["year"]>2018)]

             Actor       film  year          Genre  BoxOffice(INR Cror  IMD
5    Ranjkuman Rao  Andhadhun  2019       Thriller                 111  8.3
6   Hrithik Roshan     Stree   2019  Horror Comedy                 475  7.5
7     Akshay Kumar       War   2022         Action                 318  6.5
10   Vicky Kaushal        URI  2019         Action                 342  8.2

In [99]:
df.query("year>2018 and IMD >6")

             Actor       film  year          Genre  BoxOffice(INR Cror  IMD
5    Ranjkuman Rao  Andhadhun  2019       Thriller                 111  8.3
6   Hrithik Roshan     Stree   2019  Horror Comedy                 475  7.5
7     Akshay Kumar       War   2022         Action                 318  6.5
10   Vicky Kaushal        URI  2019         Action                 342  8.2