In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("data1.csv")

In [5]:
df

,Actor,film,year,Genre,BoxOffice(INR Cror,IMD
0,Shah Rukh Khan,Pathan,2016,Action,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2022,Action,565,6.0
2,Ranbir Kapoor,Dangal,2018,Biography,2024,8.4
3,Ranveer Singh,Brahmastra,2018,Fantasy,431,5.6
4,Ayushman Khurrana,Padmaavat,2018,Historical,585,7.0
5,Ranjkuman Rao,Andhadhun,2019,Thriller,111,8.3
6,Hrithik Roshan,Stree,2019,Horror Comedy,475,7.5
7,Akshay Kumar,War,2022,Action,318,6.5
8,Kartik Aaryan,Good Newwz,2017,Comedy,266,7.0
9,Varun Dhawan,Bhool Bhulaiyaa,2018,Horror Comedy,201,5.9
10,Vicky Kaushal,URI,2019,Action,342,8.2

In [9]:
df = df[df['IMD']>6.0]

In [11]:
df

,Actor,film,year,Genre,BoxOffice(INR Cror,IMD
0,Shah Rukh Khan,Pathan,2016,Action,1050,7.2
2,Ranbir Kapoor,Dangal,2018,Biography,2024,8.4
4,Ayushman Khurrana,Padmaavat,2018,Historical,585,7.0
5,Ranjkuman Rao,Andhadhun,2019,Thriller,111,8.3
6,Hrithik Roshan,Stree,2019,Horror Comedy,475,7.5
7,Akshay Kumar,War,2022,Action,318,6.5
8,Kartik Aaryan,Good Newwz,2017,Comedy,266,7.0
10,Vicky Kaushal,URI,2019,Action,342,8.2

In [15]:
df.to_csv("data_updated.csv",index = False)

In [21]:
df = pd.read_json("my.json")

In [23]:
df

   id   name                                  address
0   1  Alice   {'city': 'Delhi', 'zipcode': '110001'}
1   2    Bob  {'city': 'Mumbai', 'zipcode': '400001'}

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       2 non-null      int64
 1   name     2 non-null      object
 2   address  2 non-null      object
dtypes: int64(1), object(2)
memory usage: 180.0+ bytes

In [ ]:
data = [
{"id":1, "name" : "Alice", "address": {"city": "Delhi", "zipcode": "110001"}},
{"id":2, "name" : "Bob","address" : {"city": "Mumbai", "zipcode": "400001"}}

]